GEMINI_API_KEY = your-gemini-api-key

CONV_STORAGE_DIR = data
STATELESS_CONV_STORAGE_DIR = stateless_conv_dir
STATELESS_CONV_TOKEN_BASED_SLIDING_DIR = stateless_conv_token_based_sliding_dir
INTERACTION_CONV_STORAGE_DIR = interaction_conv_dir

CONVERSATION_TOKEN_LIMIT = 200

DEFAULT_MODEL = gemini-2.5-flash-lite
DEFAULT_MODE = rest
DEFAULT_SYSTEM_INSTRUCTION = answer as coincisely and as accurately as possible 
DEFAULT_EMBEDDING_MODEL = gemini-embedding-001

DATABASE_COLLECTION_NAME = gemini_cli_data

MODEL_DISPLAY_NAME = Model 
USER_DISPLAY_NAME = User[COMMAND_MODE]: 
USER_CONV_DISPLAY_NAME = USER[CONV_MODE]:
DEFAULT_WINDOW_MESSAGE_TURNS = 2

LIGHT_RED_COLOR = \x1B[38;2;255;180;180m
LIGHT_BLUE_COLOR = \x1B[38;2;160;160;220m
LIGHT_YELLOW_COLOR = \x1B[38;2;255;255;153m
RESET_COLOR = \x1B[0m
